{% extends "base.html" %}
{%block content%}

    <div class="perfil">
        <div class="perfil_img"> 
            <img src="../static/imagenes/Carrillo.jpeg" alt="foto de perfil">
        </div>

        <div class="perfil_contenido">
            <h1> jesús emilio carrillo reyes <br><span>  aprendiz sena </span> </h1>

            <p>
                Me llamo Jesús Emilio Carrillo Reyes, apodado también como "Yisus", tengo 17 años de edad y vivo en el municipio de Saravena (Arauca). Actualmente me encuentro terminando mi bachillerato en la Institución Educativa La Frontera, además me encuentro estudiando por parte del SENA un técnico de "Programación y Desarrollo de Software" y espero sacarle mucho provecho, esto no solo con el fin de poderme graduar jaja, sino también aprender el funcionamiento y el desarrollo de los programas que diariamente manejamos, como aplicaciones o páginas web y el cómo puedo aplicar lo aprendido para crearlos por mi propia cuenta también
            </p>
            <div class="btn_contactar">
                <a href="https://api.whatsapp.com/send?phone=573144401598&amp;text="desde mi portafolio
                    target="_blank">
                   contactar
                </a>
            </div>
        </div>
    </div>
    <main class="contenedor_acerca">
        <section>
            <h2> Perfil Estudiantil</h2>
            <p>
                Por ahora como había mencionado anteriormente, me encuentro en el proceso de formación y aprendizaje, me gusta mucho aprender cosas nuevas y quisiera más adelante poder ejercer una carrera de "Desarrollo de Software" o "Ingenieria de Sistemas" dónde pueda ampliar mis conocimientos, aprender mucho más y así poder ser alguien en la vida y tener un perfil como profesional en el campo de programación
            </p>
        </section>   

        <section>
            <h2> Experiencia Laboral</h2>
            <p>
                Hasta la presente hemos desarrollado proyectos como nuestro portafolio personal (por ahora), esto en HTML. En Python hemos hecho calculadoras, operaciones matemáticas, cajeros automáticos y ventas aplicando IVA y descuentos, tambien una pagina que permite calcular el indice de masa corporal y nuestro proyecto final de administracion y agenda de tareas.
            </p>
        </section>
    </main>
{%endblock%}
