{% extends "base.html" %}
{%block content%}

    <div class="contacto_cont">
        <div class="formulario">
            <h2>contactame</h2>
            <form action="contactar" method="POST">

               <div class="campo">
                <label for="name">Nombre </label>
                <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
               </div>

               <div class="campo">
                <label for="phone">Celular </label>
                <input type="text" name="celular" placeholder="Ingrese numero de celular" required>
               </div>
               <div class="campo">
                <label for="email">Email </label>
                <input type="text" name="email" placeholder="Ingrese su correo">
               </div>

               <div class="campo">
                <label for="message">Mensaje </label>
                <textarea name="mensaje" placeholder="Escriba algún mensaje"></textarea>
               </div>

               <input type="submit" value="contactar">

            </form>
        </div>
    </div>
    
{%endblock%}