{% extends 'base.html' %}
{%block content%}
<h3>MIS PROYECTOS</h3>
<div class="contenedor_proyectos">
    <section class="proyecto">

        <h3>IMC</h3>
        <div class="proyecto__img">
            <a href="/imc">
                <img src="../static/imagenes/IMC.png" alt="IMC" >
            </a>
        </div>
        <div class="proyecto__descripcion">
            <p class="parrafos">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat temporibus porro debitis consectetur
                sunt, voluptate corporis labore totam asperiores dolore eligendi incidunt est sit. Necessitatibus quos
                harum eos esse odit!
            </p>
        </div>

    </section>

    <section class="proyecto">

        <h3>TIENDA DE ZAPATOS</h3>
        <div class="proyecto__img">
            <a href="/tienda">
                <img src="../static/imagenes/img_tienda.png" alt="TIENDA" >
            </a>
        </div>
        <div class="proyecto__descripcion">
            <p class="parrafos">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat temporibus porro debitis consectetur
                sunt, voluptate corporis labore totam asperiores dolore eligendi incidunt est sit. Necessitatibus quos
                harum eos esse odit!
            </p>
        </div>


    </section>

    <section class="proyecto">
        <h3>PROYECTO-SENA</h3>
        <div class="proyecto__img">
            <a href="">
                <img src="" alt="PROYECTO " >
            </a>
        </div>
        <div class="proyecto__descripcion">
            <p class="parrafos">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat temporibus porro debitis consectetur
                sunt, voluptate corporis labore totam asperiores dolore eligendi incidunt est sit. Necessitatibus quos
                harum eos esse odit!
            </p>
        </div>
    </section>
</div>

{%endblock%}